.wrapperImageGallery {
  margin: 0 auto;
  width: 114rem;
}

.searchBoxForm {
  display: flex;
  justify-content: center;
  margin: 3rem;

  input {
    padding: 0.5rem 1rem;
    font-size: 2rem;
  }

  button {
    margin-left: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
  }
}

.imagesGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardImg {
  width: 30%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
  }
}

.js-btn-loadMore {
  margin: 0 auto;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1.6rem;
  border: 1px solid #333;
}

.paginationPages {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
