.wrapperImageGallery {
  margin: 0 auto;
  width: 114rem;
}

.searchBoxForm {
  display: flex;
  justify-content: center;
  margin: 3rem;

  input {
    padding: 0.5rem 1rem;
    font-size: 2rem;
  }

  button {
    margin-left: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
  }
}
