.counterInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.js-btnCounter {
  font-size: 1.5rem;
  margin: 1rem;

  padding: 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
}

.js-btn-minus {
  background-color: rgb(252, 0, 0);
}

.js-btn-plus {
  background-color: rgb(0, 255, 64);
}

.titleCounterIncrement {
  font-size: 3rem;
}

.selectCounter {
  display: flex;
  justify-content: center;

  select {
    font-size: 2rem;
    padding: 0.5rem;
  }
}
